main {
  margin: 100px 70px;
}

header {
  border-bottom: 1px solid rgb(204, 204, 204);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 30px;
  background-color: #242424;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

nav > ul > li:last-child {
  margin-left: auto;
  margin-right: 30px;
}

ul li {
  font-size: 1.2em;
  font-weight: 700;
}

/* for product card */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 265px));
  grid-auto-rows: minmax(200px, 500px);
  gap: 30px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 10px 20px;
  border-radius: 10px;
}

.product-card:hover {
  background-color: rgb(30, 30, 30);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;
}

.product-img {
  overflow: hidden;
  aspect-ratio: 2 / 3;
  background-color: rgb(32, 32, 32);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-quantity, .product-quantity-cart {
  display: flex;
}

.product-quantity button:first-child, .product-quantity-cart button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.product-quantity button:last-child, .product-quantity-cart button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.product-quantity input {
  width: 100%;
  text-align: center;
  border: none;
}

.product-price {
  font-size: 1.3em;
  font-weight: 700;
  color: tomato;
}

.product-name {
  font-size: 1.1rem;
}


/* CARTTT */
.cart-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cart-item {
  display: flex;
  gap: 20px;
  width: 80%;
  max-width: 700px;
  padding: 25px 0;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.product-cart-img {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-color: rgb(32, 32, 32);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 150px;
}

.product-cart-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.delete-item {
  color: tomato;
  cursor: pointer;
}

.item-price {
  font-size: 1.3em;
  font-weight: 700; 
  margin-left: auto;
}

.cart-item-info {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.cart-item-info > div {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: auto;
}

.product-quantity-cart input {
  width: 50px;
  text-align: center;
  border: none;
}


/* NAVBAR */
.items-in-cart {
  background-color: #646cff;
  color: white;
  border-radius: 50%;
  padding: 3px 10px;
  position: relative;
  top: -8px;
  right: -4px;
  font-size: 0.8em;
}

.total-price { 
  display: flex;
}

.total {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 700px;
}

.total-price > h2:last-child {
  margin-left: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #ddd;
  border-top: 6px solid #646cff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  } 
}
